.casaCactus{
    width: 530.1531372070312px;
height: 304.1280212402344px;
}
.corazon{
    width: 61.53562927246094px;
height: 61.53562927246094px;
top: 280px;
left: 550px;
background-color: pink;
position: absolute;
display: flex;
}