.contenedor{
    width: 530.1531372070312px;
height: 599.972412109375px;
top: -283px;
left: -465.34564208984375px;
border-radius: 14.200530052185059px;
gap: 213.00794982910156px;
background: #FFFFFF;
box-shadow: 28.401060104370117px 56.802120208740234px 75.73616027832031px 0px #0000001F;


}